.Digit{
  color:#4e984e;
  font-size: 17vw;
  width:33%
}
.Colon{
  color:#5f5f5f;
  font-size: 17vw;
  visibility: hidden;
}
.Colon.active{
  visibility: visible !important;
}
body{
  font-size: 48px;
}
.App{
  text-align: center;
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
  
}
.clock{
  display: flex;
  font-family: 'Orbitron', sans-serif;
  background:black;
  justify-content: center;
}